/* style page sobre */

.sobre {
  background: url('../img/bg-sobre.jpg') no-repeat center center;
  padding: 0px;
  background-size: cover;
}

/* style Missão, Visão e Valores */

.mvv {
  width: 100%;
  background: var(--blue-1);
}

.mvv-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
}

.mvv-lista li {
  background: #FFF;
  padding: 1rem 2rem 2rem 2rem;
  border: 1px solid var(--white-3);
  border-radius: 5px;
}

.mvv-lista h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--blue-3);
  margin-bottom: 1rem;
}

.mvv-lista h3::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: url('../img/missao.svg') no-repeat center center;
  margin: 0 auto 0.25rem auto;
}

.mvv-lista li:nth-child(2) h3::before {
  background: url('../img/visao.svg') no-repeat center center;
}

.mvv-lista li:nth-child(3) h3::before {
  background: url('../img/valores.svg') no-repeat center center;
}

.mvv-lista p {
  max-width: 300px;
  margin: 0 auto;
}

/* style Depoimentos */

.depoimentos {
  text-align: center;
}

.depoimentos p, 
.depoimentos .cta {
  margin-top: 1rem;
}

/* style agende */

.agende {
  width: 100%;
  background: url('../img/bg-agende.jpg') no-repeat center center;
  background-size: cover;  
  text-align: center;
}

.agende .titulo,
.agende p {
  color: #FFF;
}

.agende p {
  max-width: 300px;
  margin: 0 auto;
  font-style: italic;
}